@font-face {
    font-family: "yekan";
    font-weight: 400;
    font-style: normal;
    src: url(../assets/fonts/yekan-font/yekan-regular.woff) format("woff");
}
@font-face {
    font-family: "yekan";
    font-weight: 700;
    font-style: normal;
    src: url(../assets/fonts/yekan-font/Yekan.woff) format("woff");
}
body,button{
    font-family: "yekan";
    
}

